APP_NAME= medisync
SECRET_KEY=fe76779191c19893a9b78f828a3f3bf637c68057c39e1133e91d855a81dcef23

DB_HOST=localhost
DB_PORT=3306
DB_USER=<username>
DB_PASSWORD=<password>
DB_NAME=medisync
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
